body {
  font-family: courier-new;
  width: 220px;
  padding: 10px;
}
#qrcode {
  margin: 10px auto;
  width: 128px;
  height: 128px;
}
input[type="url"] {
  width: 90%;
}
button {
  margin-top: 5px;
  width: 100%;
}
